/*

# whitelist
!/DifferentialGeometry/
!/.github
!/Examples/
!/DifferentialGeometry.lean
!/lake-manifest.json
!/lakefile.toml
!/lean-toolchain
!/README.md
!/LICENSE
!/NOTICE
!/.gitignore
!/AGENTS.md
!/STRUCTURE.md
!/NAMING.md
# end of whitelist

.lake/

.DS_Store
**/.DS_Store
