/*

# whitelist
!/DifferentialGeometry/
!/.github/
!/DifferentialGeometry.lean
!/lakefile.toml
!/lake-manifest.json
!/lean-toolchain
!/README.md
!/LICENSE
!/NOTICE
!/.gitignore
# end of whitelist

# Keep project sources Lean-only; preserve vendored source and license metadata.
/DifferentialGeometry/**
!/DifferentialGeometry/**/
!/DifferentialGeometry/**/*.lean
!/DifferentialGeometry/External/**

.lake/

.DS_Store
**/.DS_Store
