/*

# whitelist
!/DifferentialGeometry/
!/.github
!/Examples/
!/canonical-topology/
!/DifferentialGeometry.lean
!/lakefile.toml
!/lean-toolchain
!/README.md
!/LICENSE
!/NOTICE
!/TAU_CETI_REUSE.md
!/.gitignore
# end of whitelist

.lake/

.DS_Store
**/.DS_Store
